* {
	font-family: "Kumbh Sans", sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
	height: 100vh;
	width: auto;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	height: 100vh;
	width: auto;
}

.widget-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #fff;
	border-radius: 20px;
	width: 272px;
	height: 490px;
	padding-top: 100px;
	margin-top: 140px;
	position: relative;
}

#graphic,
#shadow {
	width: 224px;
	height: auto;
	position: absolute;
	z-index: 1;
	display: flex;
	justify-content: center;
}

#graphic {
	top: 2.2em;
}

#shadow {
	top: 0.2em;
}

h1 {
	padding-bottom: 0.5em;
}

.accordion-button,
.accordion-body {
	font-size: 12px;
}

.accordion-button::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' id='svg' fill='hsl(14, 88%, 65%)' %3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

#svg {
	width: 50%;
	height: auto;
}
