* {
	font-family: "Kumbh Sans", sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
	height: 100vh;
	width: auto;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: auto;
}

.widget-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #fff;
	border-radius: 20px;
	width: 272px;
	height: 490px;
	padding-top: 110px;
	margin-top: 65px;
	position: relative;
}

#graphic,
#shadow {
	width: 224px;
	height: auto;
	position: absolute;
	z-index: 1;
}

#graphic {
	top: 2.2em;
}

#shadow {
	top: 0.5em;
}

h1 {
	padding-bottom: 0.5em;
}

button {
	border: none;
	background-color: inherit;
	cursor: pointer;
	padding-bottom: 15px;
	border-bottom: solid 1px rgb(0, 0, 0, 0.2);
}

.fa-color {
	color: hsl(14, 88%, 65%);
}
