* {
	font-family: "Kumbh Sans", sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
	height: 100vh;
	width: auto;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	height: 100vh;
	width: auto;
}

.widget-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #fff;
	border-radius: 20px;
	width: 272px;
	height: 490px;
	padding-top: 100px;
	margin-top: 140px;
	position: relative;
}

#graphic,
#shadow {
	width: 224px;
	height: auto;
	position: absolute;
	z-index: 1;
	display: flex;
	justify-content: center;
}

#graphic {
	top: 2.2em;
}

#shadow {
	top: 0.2em;
}

h1 {
	padding-bottom: 0.5em;
}

.accordion {
	display: flex;
	justify-content: space-between;
	color: hsl(237, 12%, 33%);
	border: none;
	background-color: inherit;
	cursor: pointer;
	width: 90%;
	padding-bottom: 15px;
	margin-bottom: 5px;
	font-size: 12px;
}

.fa-color {
	color: hsl(14, 88%, 65%);
}

.panel {
	font-size: 11px;
	color: hsl(240, 6%, 50%);
	width: 90%;
	display: none;
	margin-bottom: 5px;
	background-color: white;
	overflow: hidden;
}

.div {
	border-bottom: solid 1px rgb(0, 0, 0, 0.2);
}
